*{
  margin: 0;
  padding: 0;
}

a{
  color: black;
  text-decoration: none;
}

ul,ol{
  list-style: none;
}


html, body{
  width: 100%;
  height: 100%;
}

.container{
  width: 100%;
  min-height: 100%;
  background-color: #71777d;
}


.head{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  background-color: rgba(247,246,240,1);
  box-shadow: 0 2px 2px rgba(0,0,0,.3);
}







































































/*====================swipeElement==================== */
.swipeElement{
  position: fixed;
  top: 40px;
  bottom: 0;
  left: calc(100%/-4);
  width: calc(100%/4);
  background-color: rgba(247,246,240,1);
  box-shadow: 3px 0 0 rgba(0,0,0,.3);
}
button[name="swipeBtnToHide"] {
  border: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
  text-align: center;
  color:  #71777d;
  font-size: 18px;

  transition: background-color .3s ease-in-out;
  &:hover, &:focus{
    outline: none;
    cursor: pointer;
    background-color: #71777d;
    color: #fff;
    
  }
}
.x-for-hide{
  position: absolute;
  right: 8px;
  top: 6px;
  width: 28px;
  height: 28px;
  border-radius: 3px;

  background-color: transparent;
  transition: background-color .3s ease-in-out;

  font-size: 26px;
  color:  #71777d;
  text-align: center;

  &:hover{
    color: #fff;
    background-color: #71777d;
    cursor: pointer;
  }
 }

/*====================swipeElement==================== */
 